<div class="page-solicitud-evaluacion">
  <mat-card>
    <mat-card-header class="box-section-header">
      <mat-card-title class="box-section-title">
        DETALLE SOLICITUD DE EVALUACIÓN
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-divider class="dividir"></mat-divider>
      <form novalidate [formGroup]="detEvaluacionFrmGrp">
        <mat-grid-list cols="12" rowHeight="40px">
          <mat-grid-tile
            [responsiveRows]="{ xs: 12, sm: 12, md: 4, lg: 3, xl: 3 }"
            *ngIf="txtCodigoSolicitud === valorMostrarOpcion || flagEvaluacion"
          >
            <mat-form-field appearance="fill">
              <mat-label>N° SOLICITUD</mat-label>
              <input
                matInput
                readonly
                formControlName="codSolEvaluacionFrmCtrl"
              />
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile
            [responsiveRows]="{ xs: 12, sm: 12, md: 4, lg: 3, xl: 3 }"
            *ngIf="txtEstadoSolicitud === valorMostrarOpcion || flagEvaluacion"
          >
            <mat-form-field appearance="fill">
              <mat-label>ESTADO SOLICITUD EVALUACION</mat-label>
              <input matInput readonly formControlName="estadoDescripFrmCtrl" />
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile
            [responsiveRows]="{ xs: 12, sm: 12, md: 2, lg: 3, xl: 3 }"
          >
            <div>
              <button
                class="tableIconButton"
                mat-icon-button
                matTooltip="Imprimir Pdf"
                (click)="generarReportePaso1(true)"
              >
                <mat-icon inline="true">picture_as_pdf</mat-icon>
                <span>IMPRIMIR PDF</span>
              </button>
            </div>
          </mat-grid-tile>
          <mat-grid-tile
            [responsiveRows]="{ xs: 12, sm: 12, md: 2, lg: 3, xl: 3 }"
            *ngIf="
              mostrarCampoDetalle === flagVerInforme &&
              (btnInforme === valorMostrarOpcion || flagEvaluacion)
            "
          >
            <div class="resultado-autorizador">
              <button
                class="tableIconButton"
                mat-icon-button
                matTooltip="Descargar Informe del Autorizador"
                (click)="visualizarInformeAutorizador()"
              >
                <mat-icon>picture_as_pdf</mat-icon>
                INFORME AUTORIZADOR
              </button>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="12" rowHeight="40px">
          <mat-grid-tile
            [responsiveRows]="{ xs: 12, sm: 12, md: 4, lg: 3, xl: 3 }"
            *ngIf="txtCodigoMac === valorMostrarOpcion || flagEvaluacion"
          >
            <mat-form-field appearance="fill">
              <mat-label>CÓDIGO MAC</mat-label>
              <input matInput readonly formControlName="descripCodMacFrmCtrl" />
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile
            [responsiveRows]="{ xs: 12, sm: 12, md: 4, lg: 3, xl: 3 }"
            *ngIf="txtDescripcionMac === valorMostrarOpcion || flagEvaluacion"
          >
            <mat-form-field appearance="fill">
              <mat-label>DESCRIPCIÓN MAC</mat-label>
              <input
                matInput
                readonly
                formControlName="descripMacFrmCtrl"
                [matTooltip]="descripMacFrmCtrl.value"
              />
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile
            [responsiveRows]="{ xs: 12, sm: 12, md: 2, lg: 3, xl: 3 }"
            *ngIf="
              mostrarCampoDetalle === flagVerActaCmac &&
              (btnActaMac === valorMostrarOpcion || flagEvaluacion)
            "
          >
            <button
              class="tableIconButton"
              mat-icon-button
              matTooltip="Descargar Acta MAC"
              (click)="visualizarActaPDF()"
            >
              <mat-icon>picture_as_pdf</mat-icon>ACTA CMAC
            </button>
          </mat-grid-tile>
        </mat-grid-list>

        <mat-card class="cardBar" *ngIf="proBarTabla">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </mat-card>

        <mat-accordion>
          <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
            <mat-expansion-panel-header
              [collapsedHeight]="'36px'"
              [expandedHeight]="'36px'"
            >
              <mat-panel-title> INFORMACIÓN SCG SOLBEN </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-card>
              <mat-card-content>
                <mat-grid-list cols="12" rowHeight="35px">
                  <mat-grid-tile
                    [responsiveRows]="{ xs: 12, sm: 6, md: 4, lg: 3, xl: 3 }"
                    *ngIf="txtNroSCG === valorMostrarOpcion || flagEvaluacion"
                  >
                    <mat-form-field appearance="fill">
                      <mat-label>N° SCG</mat-label>
                      <input
                        matInput
                        placeholder="N° SCG SOLBEN"
                        formControlName="codScgSolbenFrmCtrl"
                        readonly
                      />
                    </mat-form-field>
                  </mat-grid-tile>
                  <mat-grid-tile
                    [responsiveRows]="{ xs: 12, sm: 6, md: 4, lg: 3, xl: 3 }"
                    *ngIf="
                      txtEstadoSCG === valorMostrarOpcion || flagEvaluacion
                    "
                  >
                    <mat-form-field appearance="fill">
                      <mat-label>ESTADO SCG</mat-label>
                      <input
                        matInput
                        placeholder="ESTADO SCG SOLBEN"
                        formControlName="estadoScgSolbenFrmCtrl"
                      />
                    </mat-form-field>
                  </mat-grid-tile>
                  <mat-grid-tile
                    [responsiveRows]="{ xs: 12, sm: 6, md: 4, lg: 3, xl: 3 }"
                    *ngIf="txtFechaSCG === valorMostrarOpcion || flagEvaluacion"
                  >
                    <mat-form-field appearance="fill">
                      <mat-label>FECHA SCG</mat-label>
                      <input
                        matInput
                        placeholder="FECHA SCG SOLBEN"
                        readonly
                        formControlName="fechaScgSolbenFrmCtrl"
                        [appOnlyDate]="{ type: 'date' }"
                      />
                      <mat-datepicker-toggle
                        disabled
                        matSuffix
                      ></mat-datepicker-toggle>
                      <mat-datepicker></mat-datepicker>
                    </mat-form-field>
                  </mat-grid-tile>
                  <mat-grid-tile
                    [responsiveRows]="{ xs: 12, sm: 6, md: 4, lg: 3, xl: 3 }"
                    *ngIf="txtTipoSCG === valorMostrarOpcion || flagEvaluacion"
                  >
                    <mat-form-field appearance="fill">
                      <mat-label>TIPO SCG</mat-label>
                      <input
                        matInput
                        placeholder="TIPO SCG SOLBEN"
                        readonly
                        formControlName="tipoScgSolbenFrmCtrl"
                      />
                    </mat-form-field>
                  </mat-grid-tile>
                  <mat-grid-tile
                    [responsiveRows]="{ xs: 12, sm: 6, md: 4, lg: 3, xl: 3 }"
                    *ngIf="
                      txtNroCartaGarantiaDet === valorMostrarOpcion ||
                      flagEvaluacion
                    "
                  >
                    <mat-form-field appearance="fill">
                      <mat-label>N° CARTA DE GARANTÍA</mat-label>
                      <input
                        matInput
                        placeholder="N° DE CARTA DE GARANTÍA"
                        readonly
                        formControlName="nroCartaGarantiaFrmCtrl"
                      />
                    </mat-form-field>
                  </mat-grid-tile>
                  <mat-grid-tile
                    [responsiveRows]="{ xs: 12, sm: 6, md: 4, lg: 3, xl: 3 }"
                    *ngIf="
                      txtClinicaDet === valorMostrarOpcion || flagEvaluacion
                    "
                  >
                    <mat-form-field appearance="fill">
                      <mat-label>CLÍNICA</mat-label>
                      <input
                        matInput
                        placeholder="CLÍNICA"
                        readonly
                        formControlName="clinicaFrmCtrl"
                      />
                    </mat-form-field>
                  </mat-grid-tile>
                  <mat-grid-tile
                    [responsiveRows]="{ xs: 12, sm: 6, md: 4, lg: 3, xl: 3 }"
                    *ngIf="
                      txtMedicoTratante === valorMostrarOpcion || flagEvaluacion
                    "
                  >
                    <mat-form-field appearance="fill">
                      <mat-label>MÉDICO TRATANTE/PRESCRIPTOR</mat-label>
                      <input
                        matInput
                        placeholder="MÉDICO TRATANTE/PRESCRIPTOR"
                        readonly
                        formControlName="medicoTrataPrescripFrmCtrl"
                      />
                    </mat-form-field>
                  </mat-grid-tile>
                  <mat-grid-tile
                    [responsiveRows]="{ xs: 12, sm: 6, md: 4, lg: 3, xl: 3 }"
                    *ngIf="txtCMP === valorMostrarOpcion || flagEvaluacion"
                  >
                    <mat-form-field appearance="fill">
                      <mat-label>CMP</mat-label>
                      <input
                        matInput
                        placeholder="CMP"
                        readonly
                        formControlName="cmpMedicoFrmCtrl"
                      />
                    </mat-form-field>
                  </mat-grid-tile>
                  <mat-grid-tile
                    [responsiveRows]="{ xs: 12, sm: 6, md: 4, lg: 3, xl: 3 }"
                    *ngIf="
                      mostrarCampoDetalle === mostrarFechaReceta &&
                      (txtFechaReceta === valorMostrarOpcion || flagEvaluacion)
                    "
                  >
                    <mat-form-field appearance="fill">
                      <mat-label>FECHA RECETA</mat-label>
                      <input
                        matInput
                        placeholder="FECHA RECETA"
                        readonly
                        [matDatepicker]="fechaRecetaFrmCtrl"
                        formControlName="fechaRecetaFrmCtrl"
                        [appOnlyDate]="{ type: 'date' }"
                      />
                      <mat-datepicker-toggle
                        disabled
                        matSuffix
                        [for]="fechaRecetaFrmCtrl"
                      ></mat-datepicker-toggle>
                      <mat-datepicker #fechaRecetaFrmCtrl></mat-datepicker>
                    </mat-form-field>
                  </mat-grid-tile>
                  <mat-grid-tile
                    [responsiveRows]="{ xs: 12, sm: 6, md: 4, lg: 3, xl: 3 }"
                    *ngIf="
                      mostrarCampoDetalle === mostrarFechaQuimio &&
                      (txtFechaQuimioterapia === valorMostrarOpcion ||
                        flagEvaluacion)
                    "
                  >
                    <mat-form-field appearance="fill">
                      <mat-label>FECHA QUIMIOTERAPIA</mat-label>
                      <input
                        matInput
                        placeholder="FECHA QUIMIOTERAPIA"
                        readonly
                        [matDatepicker]="fechaQuimioterapiaFrmCtrl"
                        formControlName="fechaQuimioterapiaFrmCtrl"
                        [appOnlyDate]="{ type: 'date' }"
                      />
                      <mat-datepicker-toggle
                        disabled
                        matSuffix
                        [for]="fechaQuimioterapiaFrmCtrl"
                      >
                      </mat-datepicker-toggle>
                      <mat-datepicker
                        #fechaQuimioterapiaFrmCtrl
                      ></mat-datepicker>
                    </mat-form-field>
                  </mat-grid-tile>
                  <mat-grid-tile
                    [responsiveRows]="{ xs: 12, sm: 6, md: 4, lg: 3, xl: 3 }"
                    *ngIf="
                      mostrarCampoDetalle === mostrarFechaHospital &&
                      (txtFechaHospitalizacion === valorMostrarOpcion ||
                        flagEvaluacion)
                    "
                  >
                    <mat-form-field appearance="fill">
                      <mat-label>HOSPITALIZACIÓN DESDE</mat-label>
                      <input
                        matInput
                        placeholder="HOSPITALIZACIÓN DESDE"
                        readonly
                        [matDatepicker]="fechaHospitalInicioFrmCtrl"
                        formControlName="fechaHospitalInicioFrmCtrl"
                        [appOnlyDate]="{ type: 'date' }"
                      />
                      <mat-datepicker-toggle
                        disabled
                        matSuffix
                        [for]="fechaHospitalInicioFrmCtrl"
                      >
                      </mat-datepicker-toggle>
                      <mat-datepicker
                        #fechaHospitalInicioFrmCtrl
                      ></mat-datepicker>
                    </mat-form-field>
                  </mat-grid-tile>
                  <mat-grid-tile
                    [responsiveRows]="{ xs: 12, sm: 6, md: 4, lg: 3, xl: 3 }"
                    *ngIf="
                      mostrarCampoDetalle === mostrarFechaHospital &&
                      (txtFechaHospitalizacion === valorMostrarOpcion ||
                        flagEvaluacion)
                    "
                  >
                    <mat-form-field appearance="fill">
                      <mat-label>HOSPITALIZACIÓN HASTA</mat-label>
                      <input
                        matInput
                        placeholder="HOSPITALIZACIÓN HASTA"
                        readonly
                        [matDatepicker]="fechaHospitalFinFrmCtrl"
                        formControlName="fechaHospitalFinFrmCtrl"
                        [appOnlyDate]="{ type: 'date' }"
                      />
                      <mat-datepicker-toggle
                        disabled
                        matSuffix
                        [for]="fechaHospitalFinFrmCtrl"
                      ></mat-datepicker-toggle>
                      <mat-datepicker #fechaHospitalFinFrmCtrl></mat-datepicker>
                    </mat-form-field>
                  </mat-grid-tile>
                  <mat-grid-tile
                    [responsiveRows]="{ xs: 12, sm: 6, md: 4, lg: 3, xl: 3 }"
                    *ngIf="
                      txtMedicamentos === valorMostrarOpcion || flagEvaluacion
                    "
                  >
                    <mat-form-field appearance="fill">
                      <mat-label>MEDICAMENTOS</mat-label>
                      <input
                        matInput
                        placeholder="MEDICAMENTOS"
                        readonly
                        formControlName="descripMedicamentoFrmCtrl"
                      />
                    </mat-form-field>
                  </mat-grid-tile>
                  <mat-grid-tile
                    [responsiveRows]="{ xs: 12, sm: 6, md: 4, lg: 3, xl: 3 }"
                    *ngIf="
                      txtEsquemaQuimioterapia === valorMostrarOpcion ||
                      flagEvaluacion
                    "
                  >
                    <mat-form-field appearance="fill">
                      <mat-label>ESQUEMA DE QUIMIOTERAPIA</mat-label>
                      <input
                        matInput
                        placeholder="ESQUEMA DE QUIMIOTERAPIA"
                        readonly
                        formControlName="esquemaFrmCtrl"
                      />
                    </mat-form-field>
                  </mat-grid-tile>
                  <mat-grid-tile
                    [responsiveRows]="{ xs: 12, sm: 6, md: 4, lg: 3, xl: 3 }"
                    *ngIf="
                      txtPersonaContacto === valorMostrarOpcion ||
                      flagEvaluacion
                    "
                  >
                    <mat-form-field appearance="fill">
                      <mat-label>PERSONA DE CONTACTO</mat-label>
                      <input
                        matInput
                        placeholder="PERSONA DE CONTACTO"
                        readonly
                        formControlName="personaContactoFrmCtrl"
                      />
                    </mat-form-field>
                  </mat-grid-tile>
                  <mat-grid-tile
                    [responsiveRows]="{ xs: 12, sm: 6, md: 4, lg: 3, xl: 3 }"
                    *ngIf="
                      txtTotalPresupuesto === valorMostrarOpcion ||
                      flagEvaluacion
                    "
                  >
                    <mat-form-field appearance="fill">
                      <mat-label>TOTAL PRESUPUESTO</mat-label>
                      <input
                        matInput
                        placeholder="TOTAL PRESUPUESTO"
                        readonly
                        formControlName="totalPresupuestoFrmCtrl"
                      />
                    </mat-form-field>
                  </mat-grid-tile>
                  <mat-grid-tile
                    [responsiveRows]="{ xs: 12, sm: 6, md: 4, lg: 3, xl: 3 }"
                    *ngIf="
                      txtPacienteDet === valorMostrarOpcion || flagEvaluacion
                    "
                  >
                    <mat-form-field appearance="fill">
                      <mat-label>PACIENTE</mat-label>
                      <input
                        matInput
                        placeholder="PACIENTE"
                        readonly
                        formControlName="pacienteFrmCtrl"
                        [matTooltip]="pacienteFrmCtrl.value"
                      />
                    </mat-form-field>
                  </mat-grid-tile>
                  <mat-grid-tile
                    [responsiveRows]="{ xs: 12, sm: 6, md: 4, lg: 3, xl: 3 }"
                    *ngIf="txtEdad === valorMostrarOpcion || flagEvaluacion"
                  >
                    <mat-form-field appearance="fill">
                      <mat-label>EDAD</mat-label>
                      <input
                        matInput
                        placeholder="EDAD"
                        readonly
                        formControlName="edadFrmCtrl"
                      />
                    </mat-form-field>
                  </mat-grid-tile>
                  <mat-grid-tile
                    [responsiveRows]="{ xs: 12, sm: 6, md: 4, lg: 3, xl: 3 }"
                    *ngIf="
                      txtDiagnostico === valorMostrarOpcion || flagEvaluacion
                    "
                  >
                    <mat-form-field appearance="fill">
                      <mat-label>DIAGNÓSTICO</mat-label>
                      <input
                        matInput
                        placeholder="DIAGNÓSTICO"
                        readonly
                        formControlName="descripDiagFrmCtrl"
                        [matTooltip]="descripDiagFrmCtrl.value"
                      />
                    </mat-form-field>
                  </mat-grid-tile>
                  <mat-grid-tile
                    [responsiveRows]="{ xs: 12, sm: 6, md: 4, lg: 3, xl: 3 }"
                    *ngIf="txtCie10 === valorMostrarOpcion || flagEvaluacion"
                  >
                    <mat-form-field appearance="fill">
                      <mat-label>CIE 10</mat-label>
                      <input
                        matInput
                        placeholder="CIE 10"
                        readonly
                        formControlName="codDiagFrmCtrl"
                      />
                    </mat-form-field>
                  </mat-grid-tile>
                  <mat-grid-tile
                    [responsiveRows]="{ xs: 12, sm: 6, md: 4, lg: 3, xl: 3 }"
                    *ngIf="
                      txtGrupoDiagnostico === valorMostrarOpcion ||
                      flagEvaluacion
                    "
                  >
                    <mat-form-field appearance="fill">
                      <mat-label>GRUPO DIAGNÓSTICO</mat-label>
                      <input
                        matInput
                        placeholder="GRUPO DIAGNÓSTICO"
                        readonly
                        formControlName="descripGrupoDiagFrmCtrl"
                      />
                    </mat-form-field>
                  </mat-grid-tile>
                  <mat-grid-tile
                    [responsiveRows]="{ xs: 12, sm: 6, md: 4, lg: 3, xl: 3 }"
                    *ngIf="
                      txtContratante === valorMostrarOpcion || flagEvaluacion
                    "
                  >
                    <mat-form-field appearance="fill">
                      <mat-label>CONTRATANTE</mat-label>
                      <input
                        matInput
                        placeholder="CONTRATANTE"
                        readonly
                        formControlName="contratanteFrmCtrl"
                      />
                    </mat-form-field>
                  </mat-grid-tile>
                  <mat-grid-tile
                    [responsiveRows]="{ xs: 12, sm: 6, md: 4, lg: 3, xl: 3 }"
                    *ngIf="txtPlan === valorMostrarOpcion || flagEvaluacion"
                  >
                    <mat-form-field appearance="fill">
                      <mat-label>PLAN</mat-label>
                      <input
                        matInput
                        placeholder="PLAN"
                        readonly
                        formControlName="planFrmCtrl"
                      />
                    </mat-form-field>
                  </mat-grid-tile>
                  <mat-grid-tile
                    [responsiveRows]="{ xs: 12, sm: 6, md: 4, lg: 3, xl: 3 }"
                    *ngIf="
                      txtCodigoAfiliado === valorMostrarOpcion || flagEvaluacion
                    "
                  >
                    <mat-form-field appearance="fill">
                      <mat-label>CÓDIGO DE AFILIADO</mat-label>
                      <input
                        matInput
                        placeholder="CÓDIGO DE AFILIADO"
                        readonly
                        formControlName="codAfiliadoFrmCtrl"
                      />
                    </mat-form-field>
                  </mat-grid-tile>
                  <mat-grid-tile
                    [responsiveRows]="{ xs: 12, sm: 6, md: 4, lg: 3, xl: 3 }"
                    *ngIf="
                      txtFechaAfiliacion === valorMostrarOpcion ||
                      flagEvaluacion
                    "
                  >
                    <mat-form-field appearance="fill">
                      <mat-label>FECHA AFILIACIÓN</mat-label>
                      <input
                        matInput
                        placeholder="FECHA AFILIACIÓN"
                        readonly
                        [matDatepicker]="fechaAfiliacionFrmCtrl"
                        formControlName="fechaAfiliacionFrmCtrl"
                        [appOnlyDate]="{ type: 'date' }"
                      />
                      <mat-datepicker-toggle
                        disabled
                        matSuffix
                        [for]="fechaAfiliacionFrmCtrl"
                      ></mat-datepicker-toggle>
                      <mat-datepicker #fechaAfiliacionFrmCtrl></mat-datepicker>
                    </mat-form-field>
                  </mat-grid-tile>

                  <mat-grid-tile
                    [responsiveRows]="{ xs: 12, sm: 6, md: 4, lg: 3, xl: 3 }"
                    *ngIf="
                      txtEstadioClinico === valorMostrarOpcion || flagEvaluacion
                    "
                  >
                    <mat-form-field id="idEstadioClinico" appearance="fill">
                      <mat-label>ESTADIO CLÍNICO</mat-label>
                      <input
                        matInput
                        placeholder="ESTADO CLÍNICO"
                        readonly
                        formControlName="estadioClinicoFrmCtrl"
                      />
                    </mat-form-field>
                  </mat-grid-tile>
                  <mat-grid-tile
                    [responsiveRows]="{ xs: 12, sm: 6, md: 4, lg: 3, xl: 3 }"
                    *ngIf="txtTNM === valorMostrarOpcion || flagEvaluacion"
                  >
                    <mat-form-field id="idTnm" appearance="fill">
                      <mat-label>TNM</mat-label>
                      <input
                        matInput
                        placeholder="TNM"
                        readonly
                        formControlName="tnmFrmCtrl"
                      />
                    </mat-form-field>
                  </mat-grid-tile>

                  <span *ngIf="infoSolben.codTipoSolben === 2">
                    <mat-grid-tile
                      [responsiveRows]="{ xs: 12, sm: 6, md: 4, lg: 3, xl: 3 }"
                    >
                      <mat-form-field appearance="fill">
                        <mat-label>CODIGO HIS</mat-label>
                        <input
                          matInput
                          readonly
                          formControlName="codHisFrmCtrl"
                        />
                      </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile
                      [responsiveRows]="{ xs: 12, sm: 6, md: 4, lg: 3, xl: 3 }"
                    >
                      <mat-form-field appearance="fill">
                        <mat-label>DESCRIPCIÓN HIS</mat-label>
                        <input
                          matInput
                          readonly
                          formControlName="descHisFrmCtrl"
                        />
                      </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile
                      [responsiveRows]="{ xs: 12, sm: 12, md: 3, lg: 3, xl: 3 }"
                    >
                    </mat-grid-tile>
                  </span>
                </mat-grid-list>
                <mat-grid-list cols="12" rowHeight="120px">
                  <mat-grid-tile
                    [responsiveRows]="{
                      xs: 12,
                      sm: 12,
                      md: 12,
                      lg: 12,
                      xl: 12
                    }"
                    *ngIf="
                      txtObservacion === valorMostrarOpcion || flagEvaluacion
                    "
                  >
                    <mat-form-field appearance="fill">
                      <mat-label>OBSERVACIONES</mat-label>

                      <textarea
                        matInput
                        cdkTextareaAutosize
                        readonly
                        #autosize="cdkTextareaAutosize"
                        cdkAutosizeMinRows="1"
                        cdkAutosizeMaxRows="5"
                        formControlName="observacionFrmCtrl2"
                      ></textarea>
                    </mat-form-field>
                  </mat-grid-tile>
                </mat-grid-list>
              </mat-card-content>
            </mat-card>
            <div class="box-section-body"></div>
          </mat-expansion-panel>
          <!-- <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)">
              <mat-expansion-panel-header [collapsedHeight]="'36px'" [expandedHeight]="'36px'">
                <mat-panel-title>
                  HISTORIAL DE ANTECEDENTES Y TRATAMIENTOS PREVIOS
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-card class="table-resultados">
                <mat-card-header> </mat-card-header>
                <mat-card-content class="card-container">
                  <div class="table-container clear-both">
                    <table mat-table [dataSource]="dataSource" matSort>
                      <ng-container
                        *ngFor="let column of columnsGrilla"
                        [matColumnDef]="column.columnDef"
                      >
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                          {{ column.header }}
                        </th>
                        <td mat-cell *matCellDef="let row">
                          {{ column.cell(row) }}
                        </td>
                      </ng-container>
  
                      <tr
                        mat-header-row
                        *matHeaderRowDef="displayedColumns; sticky: true"
                      ></tr>
                      <tr
                        mat-row
                        *matRowDef="let row; columns: displayedColumns"
                      ></tr>
                    </table>
  
                    <div class="empty" *ngIf="!isLoading && dataSource === null">
                      No existe datos para mostrar en la tabla
                    </div>
  
                    <mat-card *ngIf="isLoading" class="spinerTable">
                      <mat-progress-spinner color="primary" mode="indeterminate">
                      </mat-progress-spinner>
                    </mat-card>
  
                    <mat-paginator
                      class="mat-paginator-sticky"
                      [pageSizeOptions]="[5, 10, 25, 100]"
                      showFirstLastButtons
                    >
                    </mat-paginator>
                  </div>
                </mat-card-content>
              </mat-card>
            </mat-expansion-panel> -->
        </mat-accordion>
      </form>
      <mat-divider class="dividir"></mat-divider>

      <form novalidate [formGroup]="detPacFrmGrp">
        <mat-grid-list cols="12" rowHeight="40px">
          <mat-grid-tile
            [responsiveRows]="{ xs: 12, sm: 12, md: 3, lg: 3, xl: 3 }"
          >
            <mat-form-field appearance="fill">
              <mat-label>PACIENTE</mat-label>
              <input matInput readonly formControlName="pacFrmCtrl" />
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile
            [responsiveRows]="{ xs: 12, sm: 12, md: 3, lg: 3, xl: 3 }"
          >
            <mat-form-field appearance="fill">
              <mat-label>DIAGNÓSTICO</mat-label>
              <input matInput readonly formControlName="grpDiagFrmCtrl" />
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile
            [responsiveRows]="{ xs: 12, sm: 12, md: 3, lg: 3, xl: 3 }"
          >
            <mat-form-field appearance="fill">
              <mat-label>MEDICAMENTO SOLICITADO</mat-label>
              <input matInput readonly formControlName="medSolFrmCtrl" />
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile
            [responsiveRows]="{ xs: 12, sm: 12, md: 3, lg: 3, xl: 3 }"
          >
            <mat-form-field appearance="fill">
              <mat-label>TIPO DE TUMOR</mat-label>
              <input matInput readonly formControlName="tipTmrFrmCtrl" />
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
      </form>

      <mat-divider class="dividir"></mat-divider>
      <form [formGroup]="condBasalFrmGrp">
        <mat-grid-list cols="12" rowHeight="40px">
          <mat-grid-tile
            [responsiveRows]="{ xs: 12, sm: 12, md: 12, lg: 12, xl: 12 }"
          >
            <mat-form-field appearance="fill">
              <mat-label>PESO PACIENTE (Kg)</mat-label>
              <input matInput formControlName="pesPacFrmCtrl" />
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="12" rowHeight="40px">
          <mat-grid-tile
            [responsiveRows]="{ xs: 12, sm: 12, md: 12, lg: 12, xl: 12 }"
          >
            <mat-form-field appearance="fill">
              <mat-label
                >DOSIS MEDICAMENTO (REGISTRAR DOSIS EN Mg/Kg POR DIA Y LA
                CANTIDAD DE DÍAS EN UN MES)</mat-label
              >
              <input matInput formControlName="dosMedFrmCtrl" />
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>

        <mat-grid-list cols="12" rowHeight="50px">
          <mat-grid-tile
            [responsiveRows]="{ xs: 4, sm: 4, md: 4, lg: 4, xl: 4 }"
          >
            <mat-form-field appearance="fill">
              <mat-label>ECOG</mat-label>
              <mat-select formControlName="ecogFrmCtrl">
                <mat-option
                  *ngFor="let ecog of cmbEcog"
                  [value]="ecog.codigoParametro"
                  [disabled]="ecog.codigoParametro === null"
                >
                  {{ ecog.nombreParametro }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>

        <mat-grid-list cols="12" rowHeight="50px">
          <mat-grid-tile
            [responsiveRows]="{ xs: 12, sm: 12, md: 6, lg: 6, xl: 6 }"
          >
            <div class="containerRadio">
              <div class="radioGroup">
                <mat-label>EXISTE METÁSTASIS:</mat-label>
                <mat-radio-group
                  (change)="verificarMetastasis($event)"
                  formControlName="existeMetaFrmCtrl"
                >
                  <mat-radio-button
                    *ngFor="let row of rbtExisteMeta"
                    [value]="row.codigo"
                  >
                    {{ row.titulo }}
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
          </mat-grid-tile>
          <mat-grid-tile colspan="3" rowspan="1">
            <mat-form-field appearance="fill">
              <mat-label>LUGAR METÁSTASIS:</mat-label>
              <input matInput formControlName="lugarMetaFrmCtrl" />

              <!-- <mat-select formControlName="lugarMetaFrmCtrl">
                  <mat-option *ngFor="let lugar of cmbLugarMetastasis" [value]="lugar.codigoParametro"
                    [disabled]="lugar.codigoParametro === null">
                    {{lugar.nombreParametro}}
                  </mat-option>
                </mat-select> -->
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile
            [responsiveRows]="{ xs: 12, sm: 12, md: 6, lg: 6, xl: 6 }"
          >
            <div class="containerRadio">
              <div class="radioGroup">
                <mat-label>CON TOXICIDAD ACTUAL</mat-label>
                <mat-radio-group
                  (change)="verificarToxicidad($event)"
                  formControlName="existeToxiFrmCtrl"
                >
                  <mat-radio-button
                    *ngFor="let row of rbtExisteToxi"
                    [value]="row.codigo"
                  >
                    {{ row.titulo }}
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
          </mat-grid-tile>
          <mat-grid-tile
            [responsiveRows]="{ xs: 12, sm: 12, md: 6, lg: 6, xl: 6 }"
          >
            <button
              mat-icon-button
              type="button"
              color="primary"
              (click)="addValueData($event)"
              matTooltip="Agregar toxicidad"
            >
              <mat-icon>add_circle_outline</mat-icon>
            </button>
          </mat-grid-tile>

          <!-- <mat-grid-tile [responsiveRows]="{xs: 4, sm: 4, md: 4, lg: 4, xl: 4}">
          <mat-form-field appearance="fill">
            <mat-label>TIPO TOXICIDAD:</mat-label>
            <mat-select formControlName="tipoToxicidadFrmCtrl">
              <mat-option *ngFor="let tipoToxi of cmbTipoToxicidad" [value]="tipoToxi.codigoParametro"
                [disabled]="tipoToxi.codigoParametro === null">
                {{tipoToxi.nombreParametro}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile> -->

          <!-- <mat-grid-tile [responsiveRows]="{xs: 4, sm: 4, md: 4, lg: 4, xl: 4}">
          <mat-form-field appearance="fill">
            <mat-label>GRADO DE TOXICIDAD:</mat-label>
            <mat-select formControlName="gradoToxicidadFrmCtrl">
              <mat-option *ngFor="let gradoToxi of cmbgradoToxicidad" [value]="gradoToxi.codigoParametro"
                [disabled]="gradoToxi.codigoParametro === null">
                {{gradoToxi.nombreParametro}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile> -->
        </mat-grid-list>
      </form>

      <mat-grid-list
        [formGroup]="field"
        *ngFor="let field of toxiFrmArray.controls; let i = index"
        cols="12"
        rowHeight="40px"
      >
        <mat-grid-tile [responsiveRows]="{ xs: 4, sm: 4, md: 3, lg: 3, xl: 3 }">
          <mat-form-field appearance="fill">
            <mat-label>TIPO TOXICIDAD:</mat-label>
            <mat-select formControlName="tipoToxicidadFrmCtrl">
              <mat-option
                *ngFor="let tipoToxi of cmbTipoToxicidad"
                [value]="tipoToxi.codigoParametro"
                [disabled]="tipoToxi.codigoParametro === null"
              >
                {{ tipoToxi.nombreParametro }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile
          [responsiveRows]="{ xs: 12, sm: 12, md: 3, lg: 3, xl: 3 }"
        >
          <mat-form-field appearance="fill">
            <mat-label>GRADO DE TOXICIDAD</mat-label>
            <mat-select formControlName="gradoToxicidadFrmCtrl">
              <mat-option
                *ngFor="let gradoToxi of cmbgradoToxicidad"
                [value]="gradoToxi.codigoParametro"
                [disabled]="gradoToxi.codigoParametro === null"
              >
                {{ gradoToxi.nombreParametro }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile
          [responsiveRows]="{ xs: 12, sm: 12, md: 3, lg: 3, xl: 3 }"
        >
          <mat-form-field appearance="fill">
            <mat-label>COMENTARIOS</mat-label>
            <input matInput formControlName="comFrmCtrl" />
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile
          [responsiveRows]="{ xs: 12, sm: 12, md: 3, lg: 3, xl: 3 }"
        >
          <button mat-icon-button (click)="deleteFieldValue(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-grid-tile>
      </mat-grid-list>
      <br />
      <br />
      <mat-divider class="dividir"></mat-divider>
      <mat-card-header class="box-section-header">
        <mat-card-title style="margin-top: 10px" class="box-section-title"
          >RESULTADO BASAL DE MARCADORES</mat-card-title
        >
      </mat-card-header>
      <span *ngIf="marvaVacio == null">
        <mat-grid-list
          [formGroup]="field"
          *ngFor="let field of resBasalMarcFrmArray.controls; let i = index"
          cols="12"
          rowHeight="40px"
        >
          <mat-grid-tile
            [responsiveRows]="{ xs: 12, sm: 12, md: 3, lg: 3, xl: 3 }"
          >
            <mat-form-field appearance="fill">
              <mat-label>EXAMEN MEDICO</mat-label>
              <input matInput readonly formControlName="examMedFrmCtrl" />
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile
            [responsiveRows]="{ xs: 12, sm: 12, md: 3, lg: 3, xl: 3 }"
          >
            <mat-form-field appearance="fill">
              <mat-label>RANGO</mat-label>
              <input matInput readonly formControlName="rangoFrmCtrl" />
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile
            [responsiveRows]="{ xs: 12, sm: 12, md: 3, lg: 3, xl: 3 }"
          >
            <mat-form-field appearance="fill">
              <mat-label>RESULTADOS</mat-label>
              <input matInput formControlName="resFrmCtrl" />
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile
            [responsiveRows]="{ xs: 12, sm: 12, md: 3, lg: 3, xl: 3 }"
          >
            <mat-form-field appearance="fill">
              <mat-label>FECHA RESULTADO</mat-label>
              <input matInput formControlName="fechaFrmCtrl" />
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
      </span>

      <div class="empty" *ngIf="marvaVacio != null">
        {{ marvaVacio }}
      </div>

      <mat-divider class="dividir"></mat-divider>

      <mat-card-header class="box-section-header">
        <mat-card-title style="margin-top: 10px" class="box-section-title"
          >ELEGIR CONDICIÓN</mat-card-title
        >
      </mat-card-header>
      <form [formGroup]="elegirCondicFrmGrp">
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group"
          formControlName="tipoCondicFrmCtrl"
        >
          <mat-radio-button
            class="example-radio-button"
            *ngFor="let season of cmbCondicionList"
            [value]="season.codigoParametro"
          >
            {{ season.nombreParametro }}
          </mat-radio-button>
        </mat-radio-group>
        <!-- <mat-grid-list cols="12">
        <mat-grid-tile [responsiveRows]="{xs: 12, sm: 12, md: 12, lg: 12, xl: 12}"> -->
        <!-- <mat-radio-group
            aria-labelledby="example-radio-group-label"
            class="example-radio-group"
            [(ngModel)]="favoriteSeason">
            <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
              {{season}}
            </mat-radio-button>
          </mat-radio-group> -->
        <!-- <mat-form-field appearance="fill">
            <mat-label>ELEGIR CONDICIÓN</mat-label>
            <mat-select formControlName="tipoCondicFrmCtrl">
              <mat-option *ngFor="let condi of cmbCondicionList" [value]="condi.codigoParametro"
                [disabled]="condi.codigoParametro === null">
                {{condi.nombreParametro}}
              </mat-option>
            </mat-select>
          </mat-form-field> -->
        <!-- </mat-grid-tile>
        </mat-grid-list> -->
        <mat-grid-tile
          [responsiveRows]="{ xs: 12, sm: 12, md: 3, lg: 3, xl: 3 }"
        >
        </mat-grid-tile>
      </form>
    </mat-card-content>
  </mat-card>
</div>
